.text-gray {
    color: rgb(160, 160, 160);
}

.uc-money {
    /*background-color: #f9f9f9;*/
}

    .uc-money .column {
        text-align: left;
        /*padding: 10px;*/
        padding-left: 20px;
        /*padding-top: 40px;*/
    }

/*日利宝面板头*/
.rlb-content {
    padding: 0.8rem 1.1rem 0.6rem 1.1rem;
    background-color: #1690df;
    position: relative;
}

    .rlb-content p {
        color: #ffffff;
    }

        .rlb-content p:nth-child(2) {
            margin-top: 10px;
            text-align: center;
            font-size: 4rem;
        }


/*日利宝面板完*/

/*日利宝详细内容*/
.rlb-content-detail {
    /*background-color: #f9f9f9;*/
    padding: 8px 0;
}

    .rlb-content-detail * {
        color: #3eb4ec;
        padding: 2px 0;
    }

    .rlb-content-detail ~ .rlb-content-detail {
        margin-top: 8px;
    }

    .rlb-content-detail:nth-child(1) p:nth-child(2) {
        text-align: center;
    }

    .rlb-content-detail:nth-child(2) {
        border-top: 1px solid #e9e9e9;
        border-bottom: 1px solid #e9e9e9;
    }

    .rlb-content-detail .column {
        text-align: left;
        /*padding: 10px;*/
        padding-left: 23px;
        /*padding-top: 40px;*/
    }

        .rlb-content-detail .column ~ .column {
            border-left: 1px solid #e9e9e9;
        }

/*日利宝详细内容完*/

.rlb-footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 20px 0;
    background: #fefefe;
    z-index: 20;
    border-top: 1px solid #e9e9e9;
}

    .rlb-footer a {
        color: gray;
        display: block;
        text-align: center;
    }

        .rlb-footer a:active {
            color: #3eb4ec;
        }
/*tooltip*/
.rlb-tooltip {
    top: 0;
    min-width: 40px;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #18c3c1;
    color: #000;
    text-align: center;
    font-size: 10px;
    border-radius: 5px;
    position: absolute;
    z-index: 10;
    -webkit-transition: all .3s;
    transition: all .3s;
    display: none;
}

    .rlb-tooltip:before {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: #fff;
        bottom: -10px;
        left: 50%;
        border: 1px solid #18c3c1;
        -webkit-transform: rotate(45deg) translate(-50%,0);
        transform: rotate(45deg) translate(-50%,0);
        border-left-style: none;
        border-top-style: none;
    }

.rlb-icon {
    position: absolute;
    right: 20px;
    top: 13px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #FFF;
    border-radius: 100%;
    line-height: 17px;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    color: #1690df;
    background-color: #fff;
}

.rlb-checkbox {
    font-size: 14px;
}
/*弹窗*/
.modal-shadow {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.4);
    z-index: 2000;
    display: none;
}

.modal {
    position: absolute;
    background-color: #eee;
    border-radius: 5px;
    width: 90%;
    left: 50%;
    top: 50%;
    padding: 20px 10px;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0 0 4px 0px rgb( 115, 115, 115 );
    -webkit-box-shadow: 0 0 4px 0px rgb( 115, 115, 115 );
}
/*checkbox*/
.label-checkbox {
    position: relative;
    margin: .5rem;
    font-family: Arial, sans-serif;
    line-height: 135%;
    cursor: pointer;
}

.checkbox {
    position: relative;
    margin: 0 .5rem 0 0;
    cursor: pointer;
}

    .checkbox:before {
        -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
        -moz-transition: -moz-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
        transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
        -webkit-transform: rotate(-50deg) scale(0, 0);
        -moz-transform: rotate(-50deg) scale(0, 0);
        -ms-transform: rotate(-50deg) scale(0, 0);
        -o-transform: rotate(-50deg) scale(0, 0);
        transform: rotate(-50deg) scale(0, 0);
        content: "";
        position: absolute;
        left: 0.1875rem;
        top: 0.125rem;
        z-index: 1;
        width: 0.75rem;
        height: 0.375rem;
        border: 2px solid #45b8ef;
        border-top-style: none;
        border-right-style: none;
    }

    .checkbox:checked:before {
        -webkit-transform: rotate(-50deg) scale(.9);
        -moz-transform: rotate(-50deg) scale(.9);
        -ms-transform: rotate(-50deg) scale(.9);
        -o-transform: rotate(-50deg) scale(.9);
        transform: rotate(-50deg) scale(.9);
    }

    .checkbox:after {
        content: "";
        position: absolute;
        top: -0.125rem;
        left: 0;
        width: 1rem;
        height: 1rem;
        background: #fff;
        border: 1px solid #f2f2f2;
        border-radius: 5px;
        cursor: pointer;
    }
/*checkbox 完*/
.modal-title {
    font-weight: normal;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb( 115, 115, 115 );
    font-size: 15px;
}

.rule-tip {
    padding: 10px;
    font-size: 12px;
}

    .rule-tip p:before {
        content: attr(data-list);
        position: absolute;
        left: 0;
    }

    .rule-tip p {
        font-size: 12px;
        padding-left: 20px;
        position: relative;
    }

        .rule-tip p ~ p {
            margin-top: 5px;
        }
/* 动画 */
.moveFromBottomFade {
    -webkit-animation: moveFromBottomFade 1s ease both;
    animation: moveFromBottomFade 1s ease both;
}

.moveToBottomFade {
    -webkit-animation: moveToBottomFade 1s ease both;
    animation: moveToBottomFade 1s ease both;
}

@-webkit-keyframes moveFromBottomFade {
    from {
        opacity: 0.3;
        -webkit-transform: translateY(100%);
    }
}

@keyframes moveFromBottomFade {
    from {
        opacity: 0.3;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}

@-webkit-keyframes moveToBottomFade {
    from {
    }

    to {
        opacity: 0.3;
        -webkit-transform: translateY(100%);
    }
}

@keyframes moveToBottomFade {
    from {
    }

    to {
        opacity: 0.3;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}
