.w100{
	width: 100%;
}
/*tab样式*/
/*#ticket_tab{
	border-radius: 0;
	border-bottom: 1px solid #fdfdfd;
}
#ticket_tab li{
	background-color: #fff;
	color: #C2BEBE;
	-webkit-transition:all .3s;
	transition:all .3s;
}
#ticket_tab li~li{
	  border-style: none;
}
#ticket_tab li.checked{
	border-bottom: 2px solid #45B8EF;
	color: #45B8EF;
	-webkit-transition:all .2s;
	transition:all .2s;
}*/
/*tab样式完*/

#ticket_head{
	width: 80px;
	height: 80px;
	line-height: 75px;
	font-size: 50px;
}
.fix-top{
	position: fixed;
	top:0;
	z-index: 1000;
	left: 50%;
	width: 91%;
	transform:translate(-50%,0);
	-webkit-transform:translate(-50%,0);
	background: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
	background: #fff;
}
.tab-remain{
	height: 40px;
	display: none;
}
.ticket{
	position: relative;
	width: 90%;
	height: 82px;
	padding-top: 5px;
	margin:0 auto;
	color: #fff;
    margin-bottom: 10px;
    text-align: center;
}

.ticket-barge{
	position: absolute;
	left: 0;
	top:0;
	width: 50px;
	height: 100%;
	overflow: hidden;
}
.ticket-barge:before{
	content: '券';
	display: inline-block;
	position: absolute;
	left: -10px;
	top:-10px;
	width: 50px;
	height: 50px;
	border: 2px solid rgba(255,255,255,.2);
	border-radius: 100%;
	line-height: 50px;
	text-align: center;
	font-size: 30px;
	color: rgba(255,255,255,.2);

}
.ticket:after{
	content: '';
	position: absolute;
	display: block;
	width: 100%;
	height: .4em;
	left: 0;
	bottom: -.4em;
	-webkit-background-size: .4em .4em;
 background-size: .4em .4em;
}
.ticket.withdraw{
	background-color: #ff825a;
}
.ticket.withdraw:after{
	background-image: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, #ed6436 75%, #ed6436), -moz-linear-gradient(135deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, #ed6436 75%, #ed6436);
	background-image: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, #ed6436 75%, #ed6436), -webkit-linear-gradient(135deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, #ed6436 75%, #ed6436);
	background-image: linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, #ed6436 75%, #ed6436), linear-gradient(315deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, #ed6436 75%, #ed6436);
}
.ticket.withdraw .ticket-content{
	font-size: 13px!important;
	background-color: #ed6436;
}
.ticket.fund{
	background-color: #50baee;
}
.ticket.fund:after{
	background-image: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, #40abe1 75%, #40abe1), -moz-linear-gradient(135deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, #40abe1 75%, #40abe1);
	background-image: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, #40abe1 75%, #40abe1), -webkit-linear-gradient(135deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, #40abe1 75%, #40abe1);
	background-image: linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, #40abe1 75%, #40abe1), linear-gradient(315deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, #40abe1 75%, #40abe1);
}
.ticket.fund .ticket-content{
	background-color: #40abe1;
}
.ticket.jxq{
	background-color: #ff4362;
}
.ticket.jxq:after{
	background-image: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, #e53c58 75%, #e53c58), -moz-linear-gradient(135deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, #e53c58 75%, #e53c58);
	background-image: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, #e53c58 75%, #e53c58), -webkit-linear-gradient(135deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, #e53c58 75%, #e53c58);
	background-image: linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, #e53c58 75%, #e53c58), linear-gradient(315deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, #e53c58 75%, #e53c58);
}
.ticket.jxq .ticket-content{
	background-color: #e53c58;
}
.ticket.yyq{
	background-color: #7cc075;
}
.ticket.yyq:after{
	background-image: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, #6fac69 75%, #6fac69), -moz-linear-gradient(135deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, #6fac69 75%, #6fac69);
	background-image: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, #6fac69 75%, #6fac69), -webkit-linear-gradient(135deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, #6fac69 75%, #6fac69);
	background-image: linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, #6fac69 75%, #6fac69), linear-gradient(315deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 75%, #6fac69 75%, #6fac69);
}
.ticket.yyq .ticket-content{
	background-color: #6fac69;
	font-size: 13px!important;
}
.ticket-title h2{
	font-size: 16px;
	font-weight: normal;
}
.ticket-content{
	position: absolute;
	left:0;
	bottom: 0;
	width: 100%;
	min-height: 32px;
	padding:3px 0;
	background-color: rgba(0,0,0,.1);
	font-size: 20px;
    text-align: center;

}
.ticket-deadline{
	font-size: 12px;
	margin-top: 4px;
}
.tab-target{
	display: none;
}
.tab-target.checked{
	display: block;
}
.form-control{
	padding-left: 10px;
}