@font-face {
	font-family: 'icomoon';
	src:url('../../font/icomoon.eot?-ybhgur');
	src:url('../../font/icomoon.eot?#iefix-ybhgur') format('embedded-opentype'),
		url('../../font/icomoon.ttf?-ybhgur') format('truetype'),
		url('../../font/icomoon.woff?-ybhgur') format('woff'),
		url('../../font/icomoon.svg?-ybhgur#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-duigou:before {
	content: "\e60e";
}
.icon-mygift:before {
	content: "\e60c";
}
.icon-shop:before {
	content: "\e60d";
}
.icon-shield:before {
	content: "\e60b";
}
.icon-tuandui:before {
	content: "\e609";
}
.icon-caidan:before {
	content: "\e605";
}
.icon-gonglve:before {
	content: "\e607";
}
.icon-rili:before {
	content: "\e608";
}
.icon-easyicon:before {
	content: "\c100";
}
.icon-chongzhi:before {
	content: "\c101";
}
.icon-dingqi:before {
	content: "\c102";
}
.icon-huodong:before {
	content: "\c103";
}
.icon-huoqi:before {
	content: "\c104";
}
.icon-xiaop:before {
	content: "\c105";
}
.icon-tixian:before {
	content: "\c106";
}
.icon-shequ:before {
	content: "\c107";
}
.icon-denglu:before {
	content: "\c108";
}
.icon-jiangli:before {
	content: "\c109";
}
.icon-zhiyin:before {
	content: "\c10a";
}
.icon-zhuce:before {
	content: "\c10b";
}
.icon-open:before {
	content: "\c10c";
}
.icon-chevron-thin-left:before {
	content: "\c10d";
}
.icon-flip-to-back:before {
	content: "\e603";
}
.icon-chevron-thin-right:before {
	content: "\c10e";
}
.icon-arrow-up2:before {
	content: "\c10f";
}
.icon-picture-in-picture:before {
	content: "\e606";
}
.icon-paper-plane:before {
	content: "\c110";
}
.icon-aspect-ratio:before {
	content: "\c111";
}
.icon-credit-card:before {
	content: "\c112";
}
.icon-exit-to-app:before {
	content: "\c113";
}
.icon-launch:before {
	content: "\c114";
}
.icon-list:before {
	content: "\c115";
}
.icon-lock-open:before {
	content: "\c116";
}
.icon-lock-outline:before {
	content: "\c117";
}
.icon-settings-phone:before {
	content: "\c118";
}
.icon-error:before {
	content: "\c119";
}
.icon-playlist-add:before {
	content: "\c11a";
}
.icon-replay:before {
	content: "\c11b";
}
.icon-mode-edit:before {
	content: "\e615";
}
.icon-phone-iphone:before {
	content: "\c11c";
}
.icon-portrait:before {
	content: "\c11d";
}
.icon-check:before {
	content: "\c11e";
}
.icon-close:before {
	content: "\c11f";
}
.icon-phone-in-talk:before {
	content: "\c120";
}
.icon-user:before {
	content: "\e61d";
}
.icon-user-add:before {
	content: "\c121";
}
.icon-user-outline:before {
	content: "\c122";
}
.icon-user-add-outline:before {
	content: "\c123";
}
.icon-autorenew:before {
	content: "\c124";
}
.icon-log-out:before {
	content: "\c125";
}
.icon-login:before {
	content: "\c126";
}
.icon-new-message:before {
	content: "\c127";
}
.icon-price-ribbon:before {
	content: "\e627";
}
.icon-paperplane:before {
	content: "\c128";
}
.icon-banknote:before {
	content: "\e62b";
}
.icon-file-text2:before {
	content: "\c129";
}
.icon-coin-yen:before {
	content: "\c12a";
}
.icon-wechat:before {
	content: "\e60a";
}
.icon-align-justify:before {
	content: "\e601";
}
.icon-graph:before {
	content: "\e602";
}
.icon-store:before {
	content: "\e604";
}
.icon-qrcode:before {
	content: "\e938";
}
.icon-star-empty:before {
	content: "\e9d7";
}
.icon-star-full:before {
	content: "\e9d9";
}
.icon-arrow-up3:before {
	content: "\ea3a";
}
.icon-arrow-right3:before {
	content: "\ea3c";
}
.icon-arrow-down3:before {
	content: "\ea3e";
}
.icon-arrow-left3:before {
	content: "\ea40";
}
.icon-circle-up:before {
	content: "\ea41";
}
.icon-circle-right:before {
	content: "\ea42";
}
.icon-circle-down:before {
	content: "\ea43";
}
.icon-circle-left:before {
	content: "\ea44";
}
.icon-download2:before {
	content: "\e960";
}
.icon-download:before {
	content: "\e600";
}
