
        body {
            font-size: 14px;
            line-height: 1.6em;
        }
        /*微信广告认证投资页面 start*/
        .certification-mod {
            width: 100%;
            height: 100%;
            position: absolute;
            background:#fb4748 url(../images/bg-1.png) no-repeat center 0;
            background-size: cover;
            overflow: hidden;
        }
        .certification-mod .content-box {
            width: 80%;
            margin: 32% 0 0 10%;
            padding:10px;
            background-color: #fff2c6;
            background-size: cover;
            border-radius: 6px;
        }
        .certification-mod .c-w-c1 {
            height: 41%;
            overflow: hidden;
        }
        .certification-mod .c1-r {
            float: right;
            width:60%;
        }
        .certification-mod .title {
            display: block;
            color: #ec5066;
            font-size: 1em;
            margin-bottom: 1%;
        }
        .certification-mod .intro {
            width: 70%;
            display: block;
            font-size: 1em;
            color: #ec5066;
            text-align: center;
            margin: 5% auto 1% auto;
        }

        .certification-mod .em-hf {
            font-size: 1.2em;
        }
        .certification-mod .btn {
            color: #ffffff;
            background-color: #f63c3d;
            border-color: #d21213;
            box-shadow: 0 3px 0 #d21213;
            width: 92%;
            margin: 0 auto;
            padding: 2% 2%;
        }
        .certification-mod .footer {
            position: static;
            /*margin: 14% 0 0 14%;*/
            background-color: transparent;
            color: #fff;
            border-top: none;
            z-index: 0;
        }
        .certification-mod .footer li {
            float: left;
            padding: 0 5px;
            line-height: 1em;
        }
        .certification-mod .footer li + li{
            border-left:1px solid #fff;
        }
        .certification-mod .footer a {
            color: #fff;
            display: inline;
            text-decoration: underline;
            border-left: none;
        }
        .certification-mod .btn:focus {
            color: #fff;
        }
        .certification-mod .red1{
            display:inline-block;
            background:url(../images/red3.png) no-repeat;
            background-size:contain;
            width:34%;
            height:125px;
        }
        .certification-mod input {
            width: 90%;
            display: block;
            margin: 0 auto;
            margin-bottom: 5%;
            margin-top: 2%;
            padding: 4%;
            border: none;
            border-radius: 6px;
        }
        .certification-mod .pp1{
            position: absolute;
            bottom:21px;
            left:0%;
            display:inline-block;
            background:url(../images/welcome-pp1.png) no-repeat;
            background-size:contain;
            width:16%;
            height:110px;
        }
        /*微信广告认证投资页面 end*/
        @media only screen and (max-width:330px){
            body{
                font-size:12px;
            }
            .certification-mod .footer {
                bottom: 6%;
            }
            .certification-mod input {
                margin-bottom: 9px;
                margin-top: -2%;
            }
            .certification-mod .intro {
                  margin: 3% auto -2% auto;
            }

        }
        @media only screen and (max-height:480px){
            .certification-mod .content-box {
                margin: 25% 0 0 10%;
            }
            .certification-mod .footer {
                /*margin: 6% 0 0 14%;*/
            }
        }
        @media only screen and (min-width:375px){
            .certification-mod .content-box {
                top: 22%;
            }
            .certification-mod .footer {
                bottom: 11%;
            }
        }