 body {
    font-size: 10px;
    line-height: 1.6em;
    font-family: "Microsoft YaHei";
}

/*微信认证-投资成功 start*/
.invest-succ-mod{
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
}

/*.invest-succ-mod {
    width: 100%;
    height: 100%;
    position: absolute;
    background:#fb4748 url(../images/bg-2.png) no-repeat center 0;
    background-size: cover;
    overflow: hidden;
}
.invest-succ-mod .content {
    position: absolute;
    top: 22%;
    left: -3%;
    width: 80%;
    padding:10px;
    background:url(../images/welcome-pp2.png) no-repeat center 0;
    background-size: contain;
    height: 224px;
}*/
.invest-succ-mod .income {
    color:#fff;
    font-size: 1.4em;
    position: relative;
    top:63%;
    left: 47%;
}
.invest-succ-mod .btn {
    position: absolute;
    top: 67%;
    left: 10%;
    /*padding-right: 10%;*/
    color: #572b29;
    font-size: 3em;
    background-color: #ffcf08;
    border-color: #cb9e0d;
   /* -webkit-box-shadow: 0 3px 0 #3591cd;*/
    box-shadow: 0 3px 0 #cb9e0d;
    width: 80%;
    margin: 0 auto;
    /*padding: 5% 2%;*/
}
.invest-succ-mod .btn:focus {
    color: #fff;
}
.invest-succ-mod .icon {
    display: inline-block;
    position: relative;
    top: 5px;
    left: 6px;
    background: #ffcf08 url(../images/icon.png) no-repeat 91% 0;
    background-size: contain;
    height: 30px;
    width: 30px;
}
.footer {
    font-size: 1.4em;
    /*position: absolute;
    bottom: 13%;*/
    width: 100%;
    /*left: 50%;
    margin-left: -154px;*/
    background-color: transparent; 
    color: #fff;
    border-top: none;
    z-index: 0;
}
.footer li {
    float: left;
    padding: 0 5px;
    line-height: 1em;
}
.footer li + li{
    border-left:1px solid #fff;
}
.footer a {
    color: #fff;
    display: inline;
    /*text-decoration: underline;*/
    border-left: none;
}
.footer ul li:nth-child(1) a{
    text-decoration: underline;
}
/*微信认证-投资成功 end*/

/*微信认证-试试投资 start*/
.cert-invest-mod .info {
    font-size: 2.0em;
    width: 77%;
    padding: 10% 0 4%;
    margin: 0 auto;
}
.cert-invest-mod .btn {
    position: absolute;
    width: 70%;
    left: 15%;
    top: 70%;
    /*background-color: #f63c3d;*/
    font-size: 3em;
}
.cert-invest-mod .footer-wrap {
    position: absolute;
    /*bottom: 13%;*/
    width: 100%;
}
.cert-invest-mod .footer {
    background-color: transparent; 
    color: #888888;
    /*padding-top: 11%;*/
    z-index: 0;
    /*width: 309px;
    left: 50%;
    margin-left: -154px;*/
}
.cert-invest-mod .footer li {
    float: left;
    padding: 0 5px;
    line-height: 1em;
}
.cert-invest-mod .footer li + li{
    border-left:1px solid #888888;
}
.cert-invest-mod .footer a {
    color: #888888;
    display: inline;
    /*text-decoration: underline;*/
    border-left: none;
}
.pie-wrapper .pie-label > span:first-child.span-s1 {
    font-size: 0.15em;
}
.pie-wrapper .pie-label > span:first-child.span-s1 > big {
  font-size: 2em;
  color: #f63c3d;
}
.pie-wrapper .pie-label > span:nth-child(2) {
    font-size: 0.07em;
    margin-top: 2em;
}
.span-s1 {
    margin-top: 30%;
}
.pie-wrapper .pie-label > span:nth-child(3) {
    margin-top: 1em;
    border-bottom: none;
}
.span-year {
    padding: 0.3em 0;
    width: 55%;
}
.pie-wrapper .pie-label {
  top: 0.03em;
}

/*微信认证-试试投资 end*/

/*第五个滚动页面*/
 .fri-wrap {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 1.5em;
    font-weight: bold;
}

.referee {
    margin-top:10px;
    font-size: 1.5em;
    font-weight:normal;
    text-align: left;
}

.btn-border {
    font-size: 13px;
    border-radius: 6px;
}

#p-info1 {
    font-size: 5vw;
    text-align: center;
    color: #ec5066;
    /*font-weight: 600;*/
    margin-top: 20px;
}

#yanzhengma {
    padding-right: 38vw;
}

.page-5 .btn {
    position: static; 
    width: 100%; 
}


@media only screen and (max-width:330px){
    body{
        font-size:8px;
    }
    /*.invest-succ-mod .footer {
        bottom: 9%;
    }*/
    .cert-invest-mod .info {
        padding-top: 4%;
    }
    .fri-wrap {
        margin-top: 16px;
    }
    .mb60 {
        margin-bottom: -9px;
    }
    .cert-invest-mod .welcome-footer  {
        font-size: 1.4em;
        /*position: absolute;
         bottom: auto; 
         width: 100%; 
         left: auto; 
         margin-left: auto; 
        background-color: transparent;
        color: #fff;
        border-top: none;
        z-index: 0;
        bottom: 9%;*/
    }
    .form-union .form-group .form-control, .form-union .form-group .select-control{
        height: 50px;
    }

}
/*@media only screen and (max-height:480px){
    body {
        line-height: 1.4em;
    }
    .cert-invest-mod .welcome-footer {
          font-size: 1.4em;
        position: absolute;
         bottom: auto; 
         width: 100%; 
         left: auto; 
         margin-left: auto; 
        background-color: transparent;
        border-top: none;
        z-index: 0;
        bottom: 5%;
    }
    .form-control, .select-control {
        height: 40px;
    }
}
@media only screen and (min-width:375px){
    .invest-succ-mod .content-box {
        top: 22%;
    }
    .invest-succ-mod .welcome-footer {  
        font-size: 1.4em;
        /*position: absolute;
         bottom: auto; 
         width: 100%; 
         left: auto; 
         margin-left: auto; 
        background-color: transparent;
        color: #fff;
        border-top: none;
        z-index: 0;
        bottom: 9%;*/
    }
}*/
./*mod1 {
    background: #fb4748 url(../images/cert-invest-bg01.png) no-repeat center 0;
    background-size: cover;
}
.mod2 {
    background: #fb4748 url(../images/cert-invest-bg02.png) no-repeat center 0;
    background-size: cover;
}*/

.page .footer{
    position:static;
    bottom:0;
}
.page .btn{
    position:static;


}
.page .btn-content{
    position:absolute;
    width:100%;
    top:65%;
}
/*.page-1 .btn-content{
    top:70%;
}
.page-2 .btn-content{

}
.page-3 .btn-content{

}*/
.page{
    background:url(../images/welcome_bg.png) no-repeat center;
    background-size:cover;
}
.page-1,.page-2,.page-4{
    background-color:#fb4748;
}
.page-3,.page-5{
    background:#fff;
}
.page-logo{
    width:60%;
    min-width:100px;
    max-width:300px;
    background:url(../images/pplogo01.png) no-repeat;
    background-size:cover;
    position:absolute;
    left:50%;
    top:7%;
    -webkit-transform:translate(-50%,0);
    transform:translate(-50%,0);
}
.page-bg{
    position:absolute;
}
.page-1 .page-bg{
    width:50%;
    max-width:300px;
    background:url(../images/pp01.png) no-repeat;
    background-size:cover;
    top:27%;
}
.page-2 .page-bg{
    width:50%;
    top:25%;
    background:url(../images/pp02.png) no-repeat;
    background-size:cover;
}
.page-4 .page-bg{
    width:80%;
    top:20%;
}
.page-4 .page-bg h2,.page-4 .page-bg p{
    position:absolute;
    color:#fff;

}
.page-4 .page-bg h2{
    font-size:20px;
    transform:rotate(-20deg);
    -webkit-transform:rotate(-20deg);
}
.page-4 .page-bg p{
    position:absolute;
    width:100%;
    left:70%;
    top:60%;
    font-size:12px;
    transform:translate(-55%,0);
    -webkit-transform:translate(-55%,0);
}
.page-4 .content{
    width:100%;
    position:absolute;
    left:20%;
    top:10%;
}
.bg-content-4{
    width:70%;
    background:url(../images/pp03.png) no-repeat;
    background-size:cover;
    position:relative;
    left:10%;
}

.set-size *{
    font-size:12rem;
}
