/*base*/
*, *.before, *.after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
}

html {
    height: 100%;
}

body {
    width: 100%;
    font-family: "Microsoft YaHei";
    color: #666666;
    background-color: #f7f7f7 /*#eef1f5*/;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    color: #428bca;
    text-decoration: none;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
/*base完*/

/*动画*/
.animated {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@-webkit-keyframes fadeOutUp {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}

@keyframes fadeOutUp {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}

.fadeOutUp {
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
}
/*动画 完*/

/*重写alert*/
.alert.danger {
    background-color: rgba(231, 76, 60, 0.8);
    color: #fff;
}

.alert.success {
    background-color: rgba(26, 188, 156, 0.6);
    color: #fff;
}

.alert.default {
    background-color: rgba(189, 195, 199, 0.6);
    color: #2C3E50;
}

.alert.info {
    background-color: rgba(52, 152, 219, 0.6);
    color: #fff;
}

.alert.primary {
    background-color: rgba(26, 188, 156, 0.6);
    color: #fff;
}

.alert.warning {
    background-color: rgba(230, 126, 34, 0.6);
    color: #fff;
}

.alert.inverse {
    background-color: rgba(52, 73, 94, 0.9);
    color: #fff;
}

.alert {
    font-size: 12px;
    width: 100%;
    position: fixed;
    top: 0;
    text-align: center;
    padding: 13px 30px 13px 10px;
    z-index: 2000;
    display: none;
}

    .alert .icon {
        position: absolute;
        top: 50%;
        right: 10px;
        font-size: 20px;
        -webkit-transform: translate(0,-50%);
        transform: translate(0,-50%);
    }
/*alert完*/

/*合伙人信息面板头*/
.partner-content {
    padding: 0.6rem .8rem 0.6rem .8rem;
    background-color: #06d3c2;
    /*position: relative;*/
    color: #ffffff;
}

    .partner-content .shadow {
        text-shadow: 1px 1px 4px #0d9c90;
    }
/*合伙人信息面板头完*/

/*合伙人首页右上角icon按钮*/
.partner-icon-list {
    position: absolute;
    right: 10px;
    top: 7px;
    color: #ffffff;
    font-size: 25px;
}

a.partner-icon-list:link,
a.partner-icon-list:visited,
a.partner-icon-list:hover,
a.partner-icon-list:active {
    color: #ffffff;
}
/*合伙人首页右上角icon按钮 完*/

/*合伙人首页PP推广奖励信息*/
.p-secondary-info {
    background-color: #efefef;
    padding: 10px;
    position: relative;
    border-radius: 3px;
}

    .p-secondary-info > span:nth-child(1) {
        color: #999999;
    }

    .p-secondary-info > span:nth-child(2) {
        position: absolute;
        background-color: #bfbfbf;
        top: 10px;
        line-height: 18px;
    }

    .p-secondary-info > span:nth-child(3) {
        position: absolute;
        right: 10px;
    }

/*合伙人首页PP推广奖励信息 完*/

/*合伙人首页分享按钮*/
.share-panel {
    position: relative;
}

    .share-panel > a,
    .share-panel > a:link,
    .share-panel > a:visited,
    .share-panel > a:hover,
    .share-panel > a:active {
        position: absolute;
        color: #999999;
    }

        .share-panel > a:nth-child(1) {
            left: 25%;
        }

        .share-panel > a:nth-child(2) {
            right: 25%;
        }

    .share-panel .circle-bg > .icon {
        position: relative;
        top: 14px;
        /*font-size: 50px;*/
    }

/*合伙人首页分享按钮 完*/

/*佣金详情人数疑问icon按钮*/
.yd-aq {
    position: absolute;
    left: 40px;
    top: 36px;
    /*bottom: 5px;
    right: 20px;*/
    color: #ffffff;
    font-size: 1rem !important;
    background-color: #c6c6c6 !important;
    color: #ffffff;
}
/*佣金详情人数疑问icon按钮 完*/

/*首页提升面板*/
.ptn-panel {
    position: relative;
    margin: 15px;
    height: 124px;
    overflow: hidden;
}

.ptn-content {
    position: absolute;
    width: 100%;
    height: inherit;
    border-radius: 10px;
    background-color: #efefef;
    z-index: 1;
}

    .ptn-content:active {
        /*background-color: #dfdede;*/
        box-shadow: inset 0 0 10px #bebebe;
        -webkit-box-shadow: inset 0 0 10px #bebebe;
    }

.ptn-btn {
    position: absolute;
    width: 44px;
    height: inherit;
    color: white;
    padding: 14px 15px;
    z-index: 2;
}

    .ptn-btn.ptn-left {
        background-color: #06d3c2;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        line-height: 16px;
    }

    .ptn-btn.ptn-right {
        right: 0;
        background-color: #fd484f;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        line-height: 18px;
        border-bottom: 10px solid #dd3138;
    }

        .ptn-btn.ptn-right:active {
            background-color: #dd3138;
            box-shadow: inset 0 0 10px #a5171d;
            -webkit-box-shadow: inset 0 0 10px #a5171d;
        }

        .ptn-btn.ptn-right > span {
            position: absolute;
            top: 21%;
            text-shadow: 2px 2px 4px #a41212;
        }

.ptn-logo {
    height: 90px;
    width: 90px;
    font-size: 50px;
    font-weight: 900;
    color: rgba(191,191,191,0.15);
    border: 10px solid rgba(191,191,191,0.15);
    position: absolute;
    z-index: 2;
    right: 20px;
    bottom: -20px;
    transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
}
/*首页提升面板 完*/

/*文本压盖线样式*/
.text-on-line > .on-line {
    display: block;
    /*margin-top: 20px;*/
    margin-left: auto;
    margin-right: auto;
    width: 63%;
    border-bottom: 1px dashed #d1d1d1;
}

.text-on-line > .on-text {
    position: relative;
    text-align: center;
    bottom: -10px;
}

    .text-on-line > .on-text > span {
        background-color: #efefef;
        color: #999999;
    }
/*文本压盖线样式完*/

/*佣金暂停面板*/
.mask {
    position: fixed;
    /*display: none;*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10001;
    background-color: rgba(0,0,0,0.75);
    color: #fff;
}

    .mask.share-info {
        background: rgba(0,0,0,0.75) url(../../images/partner/ir-share.png) no-repeat center 0;
        background-size: contain;
    }



/*佣金暂停面板 完*/

/*合伙人是什么连接*/
.a-partner-link > a {
    text-decoration: underline;
    /*display: block;*/
    text-align: center;
    font-size: 0.9rem;
    color: gray;
}

.a-partner-link > .icon {
    color: #44ccb4;
}
/*合伙人是什么连接 完*/

/*佣金详情面板*/
.yjdetail-panel {
    background-color: #ffffff;
    border: 1px solid #e9e9e9;
    margin: 0 1px;
    font-size: 0.6em;
}

    .yjdetail-panel > .row {
        padding: 10px;
    }
/*佣金详情面板 完*/

/*table-partner*/
th {
    font-weight: normal;
}

.table-partner {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    font-size: 0.9rem;
    border-right: 1px solid #f2f2f2;
    background-color: #ffffff;
}

    .table-partner > thead {
        /*background-color: #6ee4c4;*/
        color: #bebebe;
    }

    .table-partner > tbody > tr > th,
    .table-partner > tbody > tr > td {
        /*border-bottom: 1px solid #f2f2f2;*/
        border-left: 1px solid #f2f2f2;
    }

    .table-partner > thead > tr > th,
    .table-partner > tbody > tr > th,
    .table-partner > tfoot > tr > th,
    .table-partner > thead > tr > td,
    .table-partner > tbody > tr > td,
    .table-partner > tfoot > tr > td {
        padding: 5px 3px;
        text-align: center;
        width: 50%;
    }
/*table-partner完*/

/*待收星级页面板*/
.yi-logo {
    background: url(../../images/partner/yi-logo.png) no-repeat center 0;
    background-size: contain;
    height: 80px;
}

/*.yjincrease-head > div {
        line-height: 80px;
        margin: 0 auto;
    }

.head-start {
    position: relative;
    top: -64px;
}

    .head-start > .icon-star-full ~ .icon-star-full {
        position: relative;
        margin-left: -6px;
    }*/
/*待收星级页面板 完*/

/*待收星级提升说明table*/
.partner-info-table {
    width: 100%;
}

    .partner-info-table > thead {
        background-color: #eeeeee;
        font-size: 0.7em;
    }

    .partner-info-table > tbody > tr > th,
    .partner-info-table > tbody > tr > td {
        border-bottom: 1px solid #f2f2f2;
        font-size: .9em;
    }

    .partner-info-table > thead > tr > th,
    .partner-info-table > tbody > tr > th,
    .partner-info-table > tfoot > tr > th,
    .partner-info-table > thead > tr > td,
    .partner-info-table > tbody > tr > td,
    .partner-info-table > tfoot > tr > td {
        padding: 7px 5px;
        text-align: center;
    }

    .partner-info-table .icon-star-full, .partner-info-table .icon-star-empty {
        font-size: .7em !important;
    }
/*待收星级提升说明table完*/

/*邀请页背景*/
.iv-panel {
    background: #56e1d5 url(../../images/partner/iv-bg.png) no-repeat center 0;
    background-size: contain;
    width: 100%;
    height: 100%;
    position: absolute;
}

    .iv-panel img {
        height: 120px;
        width: 120px;
        border: 10px solid #ffffff;
        border-radius: 10px;
        position: absolute;
        top: 5%;
        left: 10%;
    }

        .iv-panel img.zoom {
            height: 250px;
            width: 250px;
            z-index: 2;
        }

    .iv-panel .btn {
        position: absolute;
        bottom: 15%;
        width: 90%;
        left: 5%;
        right: 5%;
    }

    .iv-panel .iv-content {
        background: url(../../images/partner/iv-content.png) no-repeat center 0;
        background-size: contain;
        position: absolute;
        width: 90%;
        height: 200px;
        left: 5%;
        right: 5%;
        top: 40%;
    }
/*邀请页背景 完*/

/*邀请注册页背景*/
.ir-bg-panel {
    background: #f34b4a url(../../images/partner/ir-bg.png) no-repeat center 0;
    background-size: contain;
    width: 100%;
    /*height: 600px;*/
    height: 100%;
    position: absolute;
    z-index: -1;
}

.ir-head-bc {
    background-color: rgba(243,75,74,0.6);
    border-radius: 8px;
}

.ir-content-panel {
    position: absolute;
    top: 50%;
    width: 90%;
    left: 5%;
    right: 5%;
}

/*@media only screen and (max-width:320px) {
    .ir-content-panel {
        top: 50%;
    }
}*/
/*邀请注册页背景 完*/

/*模拟礼物框*/
.gift-box {
    height: 90px;
    width: 100%;
    color: #ffffff;
    background-color: #d62d2c;
    border-radius: 5px;
    padding: 6px;
    box-shadow: inset 0 0 10px #ce2827;
    font-size: 15px;
}
/*模拟礼物框完*/

/*星标面板*/
.star-panel {
    color: #ffba10;
}
/*星标面板 完*/

/*小P提示*/
.xiaop-warning {
    position: relative;
}

    .xiaop-warning > img {
        height: 35px;
        width: 30px;
        background-color: #ffffff;
        border-radius: 40%;
        position: absolute;
        top: -10px;
        left: 0;
    }

    .xiaop-warning > span {
        line-height: 28px;
        margin-left: 35px;
        background-color: #eeeeee;
    }
/*小P提示 完*/

/*佣金详情页团队符号*/
.yd-tuandui-symbol {
    position: relative;
    /*height: 15px;
    width: 15px;*/
    /*line-height: 13px;*/
    bottom: -5px;
    font-size: 23px;
    color: #44ccb4;
}

    .yd-tuandui-symbol + a {
        text-decoration: underline;
    }
/*佣金详情页团队符号 完*/

/*佣金详情页提醒符号*/
.yd-warning-symbol {
    position: absolute;
    /*top: -2px;*/
    height: 15px;
    width: 15px;
    line-height: 13px;
    background-color: #c6c6c6 !important;
}
/*佣金详情页提醒符号 完*/

/*合伙人团队页--头部*/
.team-head {
    height: 125px;
}

    .team-head .circle-bg {
        margin: 0 auto;
        background-color: #cbf5f1;
        color: #06d3c2;
    }

    .team-head .icon-tuandui {
        font-size: 55px;
        position: relative;
        top: 9px;
    }
/*合伙人团队页--头部完*/

/*合伙人团队页--团队列表*/
#team-panel {
    position: absolute;
    overflow: hidden;
    top: 125px;
    bottom: 45px;
    width: 100%;
    /*left: 5%;
            right: 5%;*/
    /*background-color: #f2f2f2;*/
}

#team-content {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}

    #team-content > ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        #team-content > ul > li p {
            position: relative;
        }

        #team-content > ul > li span {
            position: absolute;
            left: 50px;
            top: -3px;
        }
/*合伙人团队页--团队列表完*/

/*注册成功页 关注向导*/
.blur {
    filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
    -webkit-filter: blur(10px); /* Chrome, Opera */
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}

.guide-concern {
    position: absolute;
    z-index: 10003;
    left: 5%;
    right: 5%;
    top: 60%;
}

.img-rs-bg {
    background: url(../../images/partner/rs-bg.png) no-repeat center 0;
    background-size: cover;
}

.rs-bg-receives {
    position: absolute;
    width: 100%;
    height: 60%;
    /*overflow: hidden;*/
}

#js-content {
    width: 90%;
    height: 40%;
    top: 55%;
    left: 5%;
    position: absolute;
}
/*注册成功页 关注向导完*/


/*重置弹窗样式弹窗样式*/
.sweet-alert {
    border: 5px solid #06efdc;
    box-shadow: 0 4px 4px #ccc;
    -webkit-box-shadow: 0 4px 4px #01b7a8;
}

.sweet-close {
    right: 4%;
    top: 7%;
    background-color: #06d3c2;
}
/* 弹窗样式 完*/

/**全站通用footer*/
.footer-wrap {
}

.footer {
    height: 45px;
    line-height: 45px;
    font-size: 0.8em;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    background-color: transparent;
    border-top: none;
    z-index: 0;
    text-align: center;
    background: #eef1f5;
    border-top: 1px solid #d1d1d1;
}

    .footer ul {
        display: inline-block;
    }

    .footer li {
        float: left;
    }

    .footer b {
        padding: 0 15px;
    }

    .footer a {
        color: #666;
    }

/**全站通用footer完*/



