*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}
body{
    background-color:#383838;
    width:100%;
    height:100%;
}
@media all and (max-width:365px){
    body{
        font-size:10px;
    }
}
@media all and (min-width:365px) and (max-width:410px){
    body{
        font-size:11px;
    }
}
@media all and (min-width:410px) and (max-width:480px){
    body{
        font-size:12px;
    }
}
@media all and (min-width:480px) and (max-width:1000px){
    body{
        font-size:15px;
    }
}
@media all and (min-width:1000px){
    body{
        font-size:22px;
    }
}
a{
    color:rgb( 148, 148, 148 );
    text-decoration:underline;
}
a:link,a:visited{
    color:rgb( 148, 148, 148 );
}
.join-bg{
    width:100%;
    background:#e8524b url(../../images/partner/new/jp-bg01.png) no-repeat;
    background-size:cover;
    -webkit-background-size:cover;
}
.container{
    transform: translateY(-12%);
    -webkit-transform: translateY(-12%);
}
.join-text-bg{
    width:100%;
}
.join-text-bg.bg01{
    background: url(../../images/partner/new/jp-text01.png) no-repeat;
    background-size:cover;
    -webkit-background-size:cover;
    margin-bottom:15px;
}
.join-text-bg.bg02{
    background:url(../../images/partner/new/jp-text02.png) no-repeat;
    background-size:cover;
    -webkit-background-size:cover;
    margin-bottom:12%;
    transform: translateY(22%);
    -webkit-transform: translateY(22%);
}
.join-tooltip{
    background-color:#d8d8d8;
    position:relative;
    width:90%;
    margin:0 auto;
    padding:1em 0;
    border-radius:5px;
    text-align:center;
    font-size:1.2em;
}
.join-tooltip:before{
    content:'\c119';
    font-family:'icomoon';
    font-size:2.8em;
    color:#9e9e9e;
    position:absolute;
    left:50%;
    top:50%;
    -webkit-transform:translate(-390%,-50%);
    transform:translate(-390%,-50%);
}
.text-gray-dark{
    color: rgb( 148, 148, 148 );
}
.text-gray{
    color:rgb( 102, 102, 102 )
}
.invite-num{
    position:absolute;
    bottom:7%;
    left:77.2%;
    font-size:1.3em;
    font-weight:bold;
    color:rgb( 232, 82, 75 );
    transform:translate(-50%,30%);
    -webkit-transform:translate(-50%,30%);
}


