<!--<div>
    PP合伙人
    {{name}}
    <button ng-click="add()">add</button>
</div>-->

<div class="container pt-page-moveFromTop">
    <div class='fri-wrap'>
        <div class="partner-content row">
            <div class="column column-6 bd-right bd-white-50 p5">
                <div class="bd-bottom bd-white-50">
                    <p class="f13">累计佣金（元）</p>
                    <p class="f24 mb10 shadow">123</p>
                </div>
                <div>
                    <p class="f13 mt10">今日预计佣金（元）</p>
                    <p class="f24 shadow p-yj-on">1234</p>
                    <p class="f24 shadow p-yj-off">暂停</p>
                    <span class='partner-icon-list p-yj-off circle-bg success-s-white h20 wd20' style="top:90px;left:60px;font-size:1em">?</span>
                </div>
            </div>
            <div class="column column-6 mt30">
                <p class="f13 ml10"><span class="icon icon-rili mr5 f15" style="color: #16b8ab;position:relative;bottom:-1px;"></span><span>昨日佣金（元）</span></p>
                <p class="f40 ml30 shadow">1234</p>
            </div>
        </div>
        <a class="partner-icon-list" href="#/yjdetails"><span class='icon icon-caidan'></span></a>
    </div>
    <div class="sec-wrap">
        <a href="#/yjincrease">
            <div class="ptn-panel pt-page-rotatePullRight pt-page-delay100">
                <div class="ptn-logo circle-border">￥</div>
                <div class="ptn-btn ptn-left">今日待收星级</div>
                <div class="ptn-content">
                    <div class="mt10 text-on-line">
                        <p class="on-text"><span>&nbsp;当前个人总待收（元）&nbsp;</span></p>
                        <div class="on-line"></div>
                    </div>
                    <p class="t-a-c text-black f30 mt10">7109.55</p>
                    <p class="t-a-c f18 star-panel">
                        <span class="icon-star-full ml5 mr5"></span>
                        <span class="icon-star-full ml5 mr5"></span>
                        <span class="icon-star-full ml5 mr5"></span>
                        <span class="icon-star-full ml5 mr5"></span>
                    </p>
                </div>
                <div class="ptn-btn ptn-right"><span>点击提升</span></div>
            </div>
        </a>
    </div>
    <div class="thi-wrap mt20">
        <p class="f15 m10 p-secondary-info">
            <span class="t-a-l">昨日PP推广奖励（元）</span>
            <span id="btn-question" class="circle-bg star-white h20 wd20">?</span>
            <span class="fw-b text-gray">154</span>
        </p>
        <div class="mt10 text-on-line">
            <p class="on-text"><span style="background-color: #f7f7f7">&nbsp;邀请好友赚取佣金&nbsp;</span></p>
            <div class="on-line" style="width:90%"></div>
        </div>
        <div class="mt30 share-panel h100">
            <a href="/PPPartner/InviteRegister?invitecode=@ViewBag.RegNumber&utm_source=@ViewBag.RegSource">
                <p class="circle-bg white-success-s h60 wd60">
                    <span class="icon icon-wechat text-white f30"></span>
                </p>
                <p class="t-a-c f13 mt5">微信</p>
            </a>
            <a href="javascript:void(0);" id="btn-code">
                <p class="circle-bg star-white h60 wd60">
                    <span class="icon icon-qrcode text-white f30"></span>
                </p>
                <p class="t-a-c f13 mt5">二维码</p>
            </a>
        </div>
    </div>
    <div class="fou-wrap">
        <p class="t-a-c a-partner-link">
            <span class="icon icon-gonglve f13"></span>
            <a class="mt20" href="/PPPartner/Info">PP合伙人攻略</a>
        </p>
    </div>
    <div class="h60"></div>
    <div class="h30"></div>
</div>