<div class="container">
    <div class='fri-wrap'>
        <div class='partner-content'>
            <p class="t-a-c mt5 f13">昨日已收佣金（元）</p>
            <p class="t-a-c f40 mt10 shadow">47</p>
            <div class="h20"></div>
        </div>
        <span id="a-qu" class='partner-icon-list circle-bg success-s-white h20 wd20' style="top:10px;font-size:1em">?</span>
    </div>
    <div class="sec-wrap">
        <div class="yjdetail-panel bd-bottom bd-gray">
            <div class="row f13 mt10 mb10">
                <div class='column column-6 bd-right bd-gray'>
                    <p>
                        队员总待收 48
                    </p>
                    <p class='f24 text-danger mt10'>
                        75758
                    </p>
                </div>
                <div class='column column-6 '>
                    <p class='ml10'>
                        我直接邀请的队员人数
                    </p>
                    <p class='f24 text-gray ml10 mt10'>
                        213
                    </p>
                </div>
            </div>
            @*<div class="row f13">
                <div class='column column-6 bd-right bd-gray'>
                    <p>
                        昨日直接邀请队员有效数
                    </p>
                    <p class='f24 text-gray mt10'>
                        2342<span class="f15 text-gray">&nbsp;人</span>
                    </p>
                </div>
                <div class='column column-6'>
                    <p class='ml10'>
                        昨日PP推广奖励
                    </p>
                    <p class='f24 text-gray ml10 mt10'>
                        4543<span class="f15 text-gray">&nbsp;元</span>
                    </p>
                </div>
            </div>*@
        </div>
    </div>
    <div class="thi-wrap bd-bottom bd-gray">

        <p class="t-a-c mt20 mb20"><span class="yd-tuandui-symbol icon icon-tuandui"></span>&nbsp;<a class="text-gray" href="/PPPartner/Team">查看我的团队&gt;&gt;</a></p>
    </div>
    <div class="fou-wrap bd-bottom bd-gray partner-content">
        <p class="f15 t-a-c text-white">历史佣金</p>
    </div>
    <div class="fif-wrap bd-bottom bd-gray" style="background-color:#ffffff">
        <p class="f12" style="padding:20px 10px"><span class="yd-warning-symbol circle-bg gray-white fw-b" style="">!</span><span class="ml15">温馨提示：我们会在每天凌晨统一发放前一天佣金到你的账户</span></p>
        <table class="table-partner" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th>时间</th>
                    <th>获得佣金（元）</th>
                </tr>
            </thead>

        </table>

    </div>
    <div class="h60"></div>
</div>
