<div class="container">
    <div class='fri-wrap'>
        <div class='partner-content yjincrease-head'>
            <div class="yi-logo">
            </div>
            <p class='t-a-c mt10 mb10'>
                <span class="fw-b">待收星级提升</span>
            </p>

        </div>
    </div>
    <div class="sec-wrap row bd-bottom bd-gray p10">
        <div class='column column-6 bd-right bd-gray'>
            <p class="ml10 f12">
                当前个人总待收(元)
            </p>
            <p class='ml10 f20 text-danger mt10'>
                12345
            </p>
        </div>
        <div class='column column-6'>
            <p class="ml10 f12">
                今日待收星级佣金率
            </p>
            <p class='ml10 f20 text-gray mt10'>
                34
            </p>
        </div>
    </div>
    <div class="thi-wrap partner-content mt20">
        <p class="t-a-c">待收星级奖励佣金率</p>
    </div>
    <div class="fou-wrap">
        <table class="partner-info-table" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th>待收星级等级</th>
                    <th>当前个人有效待收（X万元）</th>
                    <th>奖励佣金率</th>
                </tr>
            </thead>
            <tbody>
                <tr class="pt-page-delay100 pt-page-rotateCarouselBottomIn">
                    <td class="star-panel">
                        <span class="icon icon-star-full"></span>
                        <span class="icon icon-star-empty"></span>
                        <span class="icon icon-star-empty"></span>
                        <span class="icon icon-star-empty"></span>
                    </td>
                    <td>
                        0.5≤ X ＜ 5
                    </td>
                    <td>
                        0.5%
                    </td>
                </tr>
                <tr class="pt-page-delay180 pt-page-rotateCarouselBottomIn">
                    <td class="star-panel">
                        <span class="icon icon-star-full"></span>
                        <span class="icon icon-star-full "></span>
                        <span class="icon icon-star-empty "></span>
                        <span class="icon icon-star-empty "></span>
                    </td>
                    <td>
                        5≤ X ＜ 10
                    </td>
                    <td>
                        0.6%
                    </td>
                </tr>
                <tr class="pt-page-delay200 pt-page-rotateCarouselBottomIn">
                    <td class="star-panel">
                        <span class="icon icon-star-full "></span>
                        <span class="icon icon-star-full "></span>
                        <span class="icon icon-star-full "></span>
                        <span class="icon icon-star-empty "></span>
                    </td>
                    <td>
                        10≤ X ＜ 50
                    </td>
                    <td>
                        0.7%
                    </td>
                </tr>
                <tr class="pt-page-delay300 pt-page-rotateCarouselBottomIn">
                    <td class="star-panel">
                        <span class="icon icon-star-full "></span>
                        <span class="icon icon-star-full "></span>
                        <span class="icon icon-star-full "></span>
                        <span class="icon icon-star-full "></span>
                    </td>
                    <td>
                        X ≥ 50
                    </td>
                    <td>
                        0.8%
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="h60"></div>
    <div class="h20"></div>
</div>
